header {
  font-family: 'Fjalla One', sans-serif;
  color: #4D0012;
  font-size: 60px;
  flex: 1;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: #4D0012;
}

.oval {
  position: absolute;
  background: #8EB9FE;
  height: 545px;
  width: 598px;
  left: -280px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg {
  flex: 1;
  width: 100%;
}

.container {
  position: absolute;
  flex: 1;
  display: grid;
  left: 600px;
  width: 900px;
  border: 2px solid white;
  grid-template-rows: repeat(3, 130px);
  grid-template-columns: 1fr 2fr 1fr;
  gap: 15px;
  width: 600px;
  margin: 50px auto;
  grid-column: 1 / 3;
  grid-template-areas:
    "a1 a1 a2"
    "b1 b2 b3"
    "c1 c2 c3";
}

.item.a1 {
  grid-area: a1;
}

.item.a2 {
  grid-area: a2;
}

.item.b {
  grid-area: b;
}

.item.c {
  grid-area: c;
}

.item {
  background: #8EB9FE;
  color: #4D0012;
  font-size: 40px;
  font-family: 'Fjalla One', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}