* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 110px;
  font-weight: 400;
  color: #000;
}

.canvas {
  position: relative;
  width: 1440px;
  height: 900px;
  margin: 0 auto;
  background: #fff;
}

.S {
  position: absolute;
  top: 202px;
  left: 292px;
}

.H1 {
  position: absolute;
  top: 74px;
  left: 432px;
}

.U {
  position: absolute;
  top: 30px;
  left: 600px;
}

.A {
  position: absolute;
  top: 55px;
  left: 755px;
}

.H2 {
  position: absolute;
  top: 180px;
  left: 1100px;
}

.bowl {
  position: absolute;
  display: block;
}

.bowl img {
  width: 100%;
  height: auto;
  display: block;
}

.works img {
  position: absolute;
  width: 274px;
  height: auto;
  left: 315px;
  top: 430px;
}

.about img {
  position: absolute;
  width: 282px;
  height: auto;
  left: 580px;
  top: 490px;
}

.contact img {
  position: absolute;
  width: 242px;
  height: auto;
  left: 850px;
  top: 390px;
}

.extra img {
  position: absolute;
  width: 192px;
  height: auto;
  left: 930px;
  top: 200px;
}

.bowl:hover {
  transform: scale(1.05);
  rotate: 360deg;
  transition: transform 0.2s ease;
}